<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Author List</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Adress</th>
        </tr>
        {% for author in authors %}
        <tr>
            <td>{{ author.name }}</td>
            <td>{{ author.age }}</td>
            <td>{{ author.gender }}</td>
            <td>{{ author.phone }}</td>
            <td>{{ author.email }}</td>
            <td>{{ author.address }}</td>
            <td><a href="{% url 'authorapp:update' author.id %}">Edit</a></td>
            <td><a href="{% url 'authorapp:delete' author.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'authorapp:create' %}">Add new author</a>
</body>
</html>